apiVersion: v1
kind: Service
metadata:
  name: line-solver
  labels:
    app: line-solver
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app: line-solver
---
apiVersion: v1
kind: Service
metadata:
  name: line-solver-headless
  labels:
    app: line-solver
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: line-solver
